* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    width: 85%;
    margin: auto;
}
.home-area {
    padding: 0 0;
    padding-bottom: 50px;
}
.home-wrapper {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
}
.home-left {
    width: 50%;
}
.home-right {
    width: 50%;
}
.home-img {
    padding: 0 50px;
}
.home-img img {
    width: 100%;
}
.home-content {
    padding-right: 40px;
}
.home-content .title {
    border-left: 4px solid #f90132;
    padding-left: 16px;
    margin-bottom: 30px;
}
.home-content .title h1{
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.home-content .title h1 span {
    color: #00ddff;
}
.home-content h5 {
    font-size: 18px;
    line-height: 1.6em;
    color:#3d3d3d;
    margin-bottom: 20px;
}
.home-content a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    background: #f90132;
    color: #ffffff;
    padding: 12px 34px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 30px;
}
.home-content p {
    color: #3d3d3d;
}
/*------Mission Area------*/
.mission-area {
    padding: 0px 0px 50px 0;
}
.section-info {
    text-align: center;
    margin-bottom: 50px;
}
.section-info h1 {
    font-size: 50px;
    text-transform: capitalize;
}
.section-info h1 span {
    color: #00ddff;
}
.mission-row {
    display: flex;
}
.mission-col {
    width: 33.33%;
}
.mission-col .mission-box {
    margin: 0 8px;
    padding: 24px;
    background-color: rgba(64, 190, 221, 0.212);
    border-radius: 16px;
}
.mission-col:nth-child(2) .mission-box {
    background-color: rgba(202, 133, 121, 0.199);
}
.mission-col:nth-child(3) .mission-box {
    background-color: rgba(202, 121, 178, 0.13);
}
.mission-box img {
    width: 50%;
}
.mission-box h3 {
    text-transform: capitalize;
    margin: 20px 0;
    font-size: 22px;
}
.mission-box p {
    color: #3d3d3d;
    line-height: 1.6em;
}
.documentation-area {
    padding: 50px 0;
}
.section-wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
}
.doc-left,
.com-right {
    width: 40%;
}
.doc-img {
    margin-right: 40px;
}
.doc-img img,
.com-img img {
    width: 100%;
}
.doc-right,
.com-left {
    width: 60%;
}
.doc-content {
    padding: 0 20px;
}
.doc-content h2,
.com-content h2 {
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
}
.doc-content p,
.com-content p {
    font-weight: bold;
    line-height: 1.6em;
    color: #3d3d3d;
    margin: 20px 0;
}
.doc-content a,
.com-content a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    background: #f90132;
    color: #ffffff;
    padding: 12px 34px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 30px;
}
.community-area {
    padding: 50px 0;
}
.com-img {
    margin-left: 40px;
}
.com-content {
    margin-right: 30px;
}

/*------Footer Area ------*/
.footer-area {
    padding: 30px 0;
    background-color: #000000;
}
.footer-text {
    text-align: center;
}
.footer-text h2 {
    text-transform: capitalize;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-text h2 span {
    color: #00ddff;
}
.footer-text p {
    color: #e6dfdf
}
.contact-area {
    padding: 50px 0;
}
.contact-row {
    display: flex;
    align-items: center;
}
.contact-col {
    width: 50%;
}
.contact-img {
    width: 50%;
    margin: auto;
}
.contact-img img {
    width: 100%;
}
.contact-form form input,
.contact-form form textarea {
    width: 90%;
    padding: 14px;
    margin-bottom: 14px;
    outline: none;
    border-radius: 6px;
    background: transparent;
    border: 2px solid silver;
    font-size: 18px;
}
.contact-form form input[type="submit"] {
    width: inherit;
    padding: 14px 40px;
    background-color: #f90132;
    color: #ffffff;
    border: 2px solid #f90132;
}